################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/FSE2019/v15/Browse.VC.opendb
/homework1/171830046陆天淳/陆天淳1/.vs/陆天淳1/v15/Browse.VC.db
/homework1/171830046陆天淳/陆天淳1/.vs/陆天淳1/v15/Browse.VC.opendb
